.background-anim {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 44px);
}

.foreground-anim {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 44px);
}
