.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
    padding-bottom: 20px;
}

.password-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 20px
}

.wrap-input100 {
    width: 100%;
    position: relative;
    margin-bottom: 37px;
    border: 1px solid #cacccd;
}

.validate-input {
    position: relative;
}
  