
@import '../base/settings';

.button {
    color: $dark-purple;
    font-weight: lighter;
    text-decoration: none;
    line-height: 1;
    border-radius: 0.1rem;
}

button {
    z-index: 101;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-weight: 400;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 14px;
}

button:disabled {
    cursor: default;
    opacity: 0.5;
}

.exerciseDisabled {
    cursor: default;
    opacity: 0.5;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.button--link {
    background: none;
    border: none;
    color: $dark-purple;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.button--secondary {
    background: #888;
}

.button--password-reset {
    background-color: none;
    border: none;
    margin: 0 auto;
    display: flex;
    background: none;
    letter-spacing: 0px;
    font-weight: 400;
}

.login-button {
    background: #3a3d7d !important;
    border: none;
    width: 85px;
    height: 40px;
    margin: 30px auto;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 17px;
    padding: 0 15px 0 15px;
}

.login-button-no-margin {
    background: #3a3d7d !important;
    border: none;
    width: 100px;
    height: 45px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 14px;
    padding: 0 15px 0 15px;
}

.transparent-button {
    background: transparent;
    border: 1px solid #3a3d7d;
    min-width: 60px;
    color: #3a3d7d;
    margin: 5px;
    text-decoration: none;
    line-height: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 14px;
    padding: 0 15px 0 15px;
}

.transparent-button:hover {
    background: #3a3d7d !important;
    border: 1px solid #3a3d7d;
    min-width: 60px;
    color: white;
    margin: 5px;
    text-decoration: none;
    line-height: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 14px;
    padding: 0 15px 0 15px;
}

.next-button-dark {
    background: #3a3d7d !important;
    border: none;
    min-width: 80px;
    height: 40px;
    color: white;
    margin: 5px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 15px;
    padding: 7px 0 7px 0;
}

.extra-margin-bottom {
    margin-bottom: 50px !important
}

.extra-margin-top {
    margin-top: 100px !important
}

.extra-side-padding-button {
    padding: 7px 10px 7px 10px;
}

.back-button {
    background: transparent;
    border: 1px solid #3a3d7d;
    width: 80px;
    height: 40px;
    color: #3a3d7d;
    margin: 5px;
}

.back-button:hover {
    background: #3a3d7d !important;
    border: 1px solid #3a3d7d;
    width: 80px;
    height: 40px;
    color: white;
    margin: 5px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.stack-button {
    display: block;
    margin: 10px auto;
}

.stack-button:hover {
    display: block;
    margin: 10px auto;
}

.info-button-box {
    display: flex;
    justify-content: center;
}

.button-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    margin: 0 auto;
}

.clickableFish {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius:50%;
    border: none;
    background-color:white;
    opacity: 90%;
    bottom: 24%;
    left: 55%;
}  

.clickablePlant {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius:50%;
    border: none;
    background-color:white;
    opacity: 90%;
    bottom: 16%;
    left: 41%;
} 

.clickablePebble {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius:50%;
    border: none;
    background-color: white;
    opacity: 90%;
    bottom: 10px;
    left: 10%;
}

.clickablePebbleArea {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 50px;
    opacity: 100%;
    bottom: 0;
    background-color: transparent;
    border: none;
}

.max-width-photo-button {
    max-width: 220px;
    padding: 5px
}

.max-width-input {
    max-width: 97px;
}