
@import '../base/settings';

.button {
    color: $dark-purple;
    font-weight: lighter;
    text-decoration: none;
    line-height: 1;
    border-radius: 0.1rem;
}

button {
    z-index: 101;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.6px;
}

button:disabled {
    cursor: default;
}

.button--link {
    background: none;
    border: none;
    color: $dark-purple;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
}

.button--secondary {
    background: #888;
}

.button--password-reset {
    background-color: none;
    border: none;
    margin: 0 auto;
    display: flex;
    background: none;
}

.login-button {
    background: #545775 !important;
    border: none;
    border-radius: 0.5rem;
    width: 100px;
    height: 40px;
    margin: 40px auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.next-button {
    background: #545775 !important;
    border: none;
    border-radius: 0.5rem;
    min-width: 80px;
    height: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}
.next-button-last-onboarding {
    background: #545775 !important;
    border: none;
    border-radius: 0.5rem;
    min-width: 80px;
    height: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 5px;
    margin-left: calc(50% - 40px);
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}

.back-button {
    background: transparent;
    border: none;
    border-radius: 0.5rem;
    width: 80px;
    height: 40px;
    color: #545775;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 5px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

// @media only screen and (max-width: 767px) {
//     .next-button { 
//         position: fixed;
//         bottom: 30px;
//         right: calc(50% - 40px) 
//     }
// }

.button-container {
    display: flex;
    justify-content: center;
}

.info-button-box {
    display: flex;
    justify-content: center;
}

.button-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center {
    margin: 0 auto;
}

.clickableFish {
    position: absolute;
    z-index: 0;
    width: 25px;
    height: 25px;
    border-radius:50%;
    border: none;
    color: 'white';
    opacity: 90%;
    box-shadow: 2px 3px 20px #252525;
    top: 68%;
    left: 62%;
    @media (min-width: $desktop-breakpoint) {
        top: 70%;
        left: 55%;
        }
}  

.clickablePlant {
    position: absolute;
    z-index: 0;
    width: 25px;
    height: 25px;
    border-radius:50%;
    border: none;
    color: 'white';
    opacity: 90%;
    box-shadow: 2px 3px 20px #252525;
    top: 73%;
    left: 42%;
    @media (min-width: $desktop-breakpoint) {
        top: 75%;
        left: 48%;
        }
} 

.clickablePebble {
    position: absolute;
    z-index: 0;
    width: 25px;
    height: 25px;
    border-radius:50%;
    border: none;
    color: 'white';
    opacity: 90%;
    box-shadow: 2px 3px 20px #252525;
    top: 90%;
    left: 12%;
    @media (min-width: $desktop-breakpoint) {
        top: 93%;
        left: 38%;
        }
}

