.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    width: 100vw;
}

.animations-container {
    height: 100vh;
    background-color: red;
}

.last-onboarding-container {
    margin-top: 0;
}

.exercise-container {
    background-color: #9FD6CD;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100vw;
    height: 100vh;
    margin-left: -20px;
    margin-top: -50px;
}

.exercises-title {
    text-align: center;
    margin-top: 15vh;
}
