.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    width: 100vw;
}

.animations-container {
    height: 100vh;
    background-color: red;
}

.last-onboarding-container {
    margin-top: 0;
}

.exercises-title {
    text-align: center;
    margin-top: 15vh;
}
