.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 1600px;
}

.animations-container {
    height: 100vh;
    background-color: red;
}

.modal {
    background-color: white;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    margin: 30px;
}