.breathingExercise {
    position: absolute;
    top: 0;
    z-index: -5;
}
//audio player
.rhap_container {
    position: absolute;
    bottom: 0;
    background-color: #D3EEE8 !important;
    box-shadow: none !important;
}

.back-button-breathing {
    position: absolute;
    bottom: 100px;
}