.breathingExercise {
    position: absolute;
    top: 0;
    z-index: -5;
}
//audio player
.rhap_container {
    position: absolute;
    bottom: 0;
    background-color: #D3EEE8 !important;
    box-shadow: none !important;
}
.rhap_main-controls-button {
    color: #3B3B82 !important;
}

.rhap_volume-bar {
  background-color:#3B3B82 !important;
}

.rhap_progress-filled {
    background-color: #3B3B82 !important;
}

.rhap_volume-button {
    color: #3B3B82 !important;
}

.rhap_progress-indicator {
    background: #3B3B82 !important;
}

.rhap_time {
    color: #3B3B82 !important;
}

.rhap_additional-controls {
    display: none !important;
}

.back-button-breathing {
    position: absolute;
    bottom: 100px;
}

.no-white-overlay {
    background-color: #D3EEE8;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}