.background-box {
    background-color: rgba(255,255,255, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.opacity-box-full-height {
    background-color: rgba(255,255,255, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.fade-in {
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
}

.background-box-no-fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.info-box-login {
    // border: 1px solid $green;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 400px;
}

.info-box {
    // border: 1px solid $green;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 500px;
    height: calc(100% - 70px);
}

.info-box-landing {
    margin: 0 auto;
    padding: 5%;
    max-width: 500px;
}

.info-box-low {
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 500px;
}

.info-box-last-onboarding {
    margin: 20px auto;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 500px;
}

@media only screen and (max-width: 768px) {
    .info-box { 
        width: 100%;
        height: calc(100% - 70px);
    }
    .info-box-text-padding-top {
        padding-top: 20%;
    }
}

.info-box-text-padding-top {
    padding-bottom: 20px;
    padding-right: 10%;
    padding-left: 10%;
}

.info-box-text-small-padding {
    margin: 25px 15px 15px 15px
}

.info-box-text {
    margin: 10% 30px 10% 30px;
}

.info-box-replays {
    border: 1px solid $green;
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px;
}

.info-box-words {
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.info-box-title {
    text-align: center;
    padding: 5%;
}

.free-form-submit {
    width: 100px;
    margin: 0 auto;
    display:block;
    border-radius: 5px;
    padding: 10px;
}

.free-form-input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lightgray;
    border: none;
}

.input-paragraph {
    min-height: 200px;
}

textarea {
    padding: 15px;
}

.free-form-input-vertical {
    width: 80%;
    padding: 15px;
    margin: 5px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lightgray;
    border: none;
}

.arrow {
    width: 100px;
    margin-left: 25px;
    margin-top: 35px;
}

.arrow-text {
    margin: 0;
}
    
