.background-box {
    background-color: rgba(255,255,255, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -6;
}

.opacity-box-full-height {
    background-color: rgba(255,255,255, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.fade-in {
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
}

.background-box-no-fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.info-box-login {
    margin: 0 auto;
    position: absolute;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 400px;
}

.info-box {
    margin: 0 auto;
    position: absolute;
    top: 43%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 500px;
}

.modal-info-box {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.info-box-high {
    // border: 1px solid $green;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 500px;
}

.container {
    position: relative;
    background-color: #9FD6CD;
    position: absolute;
    width: 100%;
    height: 100%;
}

// vetically centers text on screen - used for welcome to wr screen
.center-vertical {
    position: absolute;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    left: 50%;
}

.info-box-choose {
    max-width: 500px;
    margin: 0 auto;
}

.info-box-low {
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 500px;
}

.info-box-last-onboarding {
    margin: 20px auto;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    width: 100%;
    max-width: 500px;
}

//
.header-text-spacing {
    height: 55vh;
    margin: 7vh auto;
    max-width: 230px;
}

@media (min-width: 768px) {
    .header-text-spacing {
        height: 20vh;
        margin: 0 auto;
        max-width: 230px;
    }
}  

@media (max-width: 768px) {
    .padding-top {
        padding-top: 0 !important;
    }
    .info-box { 
        width: 100%;
    }
} 

.info-box-text-small-padding {
    margin: 25px 15px 15px 15px
}

.info-box-text {
    margin: 10% 10% 7% 10%;
}

.info-box-replays {
    border: 1px solid $green;
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px;
}

.info-box-words {
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.info-box-title {
    text-align: center;
    padding: 5%;
    font-size: 19px;
    margin-top: 40px;
}

.info-box-title-no-padding {
    text-align: center;
    padding: 5%;
    font-size: 19px;
}

.free-form-submit {
    width: 100px;
    margin: 0 auto;
    display:block;
    border-radius: 5px;
    padding: 10px;
}

.free-form-input {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #3B3B82;
    font-weight: 400;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid white !important;
    background-color: rgba(200, 229, 232, 0.9);
    border: none;
    display: flex;
    justify-content: center;
}

.input-paragraph {
    min-height: 200px;
}

textarea {
    padding: 15px;
}

.free-form-input-vertical {
    width: 80%;
    padding: 15px;
    margin: 5px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid white !important;
    background-color: rgba(200, 229, 232, 0.9);
    border: none;
}

.arrow {
    width: 100px;
    margin-left: 15px;
    margin-top: 39px;
}

.arrow-text {
    margin: 0;
}
    
.padding-top {
    padding-top: 100px;
}

.padding-top-always {
    padding-top: 80px;
}

.small-padding-top {
    padding-top: 40px;
}