.background-box {
    background-color: rgba(255,255,255, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 48px);
}

.info-box {
    border: 1px solid $green;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px;
}

.info-box-words {
    padding: 0px
}

.info-box-text {
    color: black;
    text-align: center;
    margin: 5rem;
}

.info-box-button {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.next-button {
    background-color: $green;
    border: none;
    height: 50px;
    width: 80px;
}