.input-group {
 display: flex;
 flex-direction: column;
 margin-bottom: $m-size;

 @media (min-width: $desktop-breakpoint) {
 flex-direction: row;
 margin-bottom: $l-size;
 }
}

.input-group__item {
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3A3D7D;
    opacity: 1; /* Firefox */
    font-weight: 400;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  #3A3D7D;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:  #3A3D7D
  }
