.form-input {
    height: 60px;
    padding: $s-size;
    font-weight: 300;
    border: none;
    width: 100%;
    background: rgba(200, 229, 232, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input.form-input:focus {
    outline: none;
}

.select {
    @extend.form-input;
}

.textarea {
    @extend.form-input;
    height: 10rem;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    margin-bottom: 37px;
    border-bottom: 1px solid white;
    background-color: rgba(200, 229, 232, 0.9);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-input.validate-input {
    width: 80%
}

.validate-input {
    position: relative;
}