.word-grid {
    display: flex;
    justify-content: center;
    margin-left: -40px;
    flex-wrap: wrap;
    margin-top: -40px;
    @media (max-width: $desktop-breakpoint) {
        margin-top: -50px;
    }
}

.words {
    width: 40px;
    height: 20px;
    opacity: 1;
    margin: 25px;
}

.word-button {
    border: none;
    background: none;
}

.word-button-clicked {
    border: none;
    background: red;
}