.word-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.word-button {
    border: none;
    background: none;
}

.word-button-clicked {
    border: none;
    background: red;
}