.fade-appear {
    opacity: 0;
}


.fade-appear-active{
    opacity: 1;
    transition: opacity 2s ease-in;
}

/* The display-enter will be enacted immediately when the element enters the DOM */
.fade-enter {
    opacity: 0;
}
  
  /*  The display-enter-active will apply once the display-enter is done implementing */
.fade-enter-active {
    opacity: 1;
    transition: opacity 2s ease-in;
}

.fade-enter-done {
    opacity: 1;
}
  
  /* display-exit will trigger when the display state turns false */
.fade-exit {
    opacity: 1;
}
  
  /* followed by the display-exit-active, after which the list element will leave the DOM. */
.fade-exit-active {
    opacity: 0;
    transition: opacity 2s ease-in;

}

.transform-up-appear {
    opacity: 0;
}


.transform-up-appear-active{
    opacity: 1;
    transition: opacity 2s ease-in;
}

.transform-up-exit-active {
    transform: translateY(-285%);
    transition: transform 1s ease-in-out;
}


/* The display-enter will be enacted immediately when the element enters the DOM */
.fade-fast-enter {
    opacity: 0;
}
  
  /*  The display-enter-active will apply once the display-enter is done implementing */
.fade-fast-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-fast-enter-done {
    opacity: 1;
}