@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Lato&family=Noto+Sans+JP&family=Open+Sans:wght@300;400&family=Roboto&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

@media screen and (orientation:landscape)
and (min-device-width: 319px) and (max-device-width: 736px) {
    body {
        background-image: url(https://static.thenounproject.com/png/147346-200.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 60%;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: $m-size;
    background-color: white;
    color: $dark-purple;
    line-height: 1.6;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 19px;
}

h3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500; 
}

.is-active {
    font-weight: bold;
}