@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Lato&family=Noto+Sans+JP&family=Open+Sans:wght@300;400&family=Roboto&family=Vollkorn&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $m-size;
    background-color: white;
    color: $dark-purple;
    line-height: 1.6;
}

p {
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    size: 10px;
}

h3 {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

input {
    font-family: 'Karla', sans-serif;
    font-weight: 600; 
}

.is-active {
    font-weight: bold;
}