
// colours
$teel: #718F94;
$green: #90B494;
$dark-purple: #545775;
$light-green: #BFC8AD;
$off-white: #DBCFB0;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// font sizes
$font-size-large: 1.8rem; 
$font-size-small: 1.4rem;
